.container {
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2 {
    font-size: 27px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 18px;
}

.container .correct {
    background: #dffff2;
    border-color: #00d397;

}

.container .wrong {
    background-color: #FFEBEB;
    border-color: #FF4A4A;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.result p {
    font-size: 1.4rem;

}

/* Styles for smaller screens (mobiles, tablets) */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    button {
        width: 100%;
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    button {
        padding: 8px 16px;
        font-size: 1rem;
    }
}